/* HERO SECTION */
.hero {
  display: flex;
}

.main-left {
  flex-basis: 70%;
  text-align: center;
  width: 50%;
  min-height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url('./images/key.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: inherit;
  position: relative;
  overflow: hidden;
  transform: translateX(-50%);
  transition: transform 0.7s ease-in;
}

.slide-in {
  transform: translateX(0);
}

.main-left::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: rgb(18, 24, 29);
  transform: skewX(-25deg);
  transform-origin: bottom right;
  overflow: hidden;
}

.header-left {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-right: 15rem;
  text-align: left;
  margin-top: 2rem;
  padding-left: 2rem;
}

.p-left {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin-right: 15rem;
  text-align: left;
  margin-top: 2rem;
  padding-left: 2rem;
}

.button-left {
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 23rem;
  margin-top: 4rem;
  padding: 0.8rem;
}

.button-left:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(219, 87, 25);
  transition: 0.8s ease-out;
}

.main-right {
  flex-basis: 30%;
  min-height: 100vh;
  background-color: rgb(18, 24, 29);
  position: relative;
}

.signup-form {
  margin-bottom: 2rem;
  transform: translateX(-30%);
  margin-top: 10%;
  border-radius: 12%;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url('./images/signup.jpg');
  background-size: cover;
  background-position: center;
  height: 70%;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  padding-top: 7rem;
}

.button-signup {
  width: 50%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
}

.button-signup:hover {
  color: rgb(219, 87, 25);
  transition: 0.8s ease-out;
  background: none;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .hero {
    flex-direction: column;
    overflow: hidden;
  }
  .main-left {
    width: 100%;
  }

  .header-left {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .p-left {
    font-size: 1.3rem;
    padding-top: 1rem;
    margin: auto auto;
  }

  .button-left {
    cursor: pointer;
    font-size: 1.3rem;
    margin: auto auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.7rem;
  }

  .main-right {
    width: 100%;
  }

  .signup-form {
    margin-bottom: 2rem;
    transform: translateX(0);
    margin: auto auto;
    margin-top: 7rem;
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    padding-top: 5rem;
    height: 20rem;
    width: 65vw;
  }

  .main-left::before {
    display: none;
  }

  .header-left,
  .header-right {
    margin-right: 0;
    padding-bottom: 2rem;
  }
}

@media (max-width: 500px) {
  .header-left {
    font-size: 1.5rem;
    margin-top: 3rem;
    padding-right: 2rem;
    text-align: center;
  }

  .p-left {
    font-size: 1.3rem;
    padding-top: 1rem;
    margin-right: 2rem;
    text-align: center;
  }

  .button-left {
    padding: 0.5rem;
  }
}

/* CONTACT FORM SECTION */
.form {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(18, 134, 228); */
  /* background-color: rgb(0, 0, 0); */
}

.form-header {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.contact-form {
  margin: auto auto;
  margin-bottom: 2rem;
  width: 45vw;
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
}

#name,
#email {
  min-height: 2.7em;
  margin-top: 1rem;
  margin: auto auto;
  width: 51%;
  font-size: 1rem;
  padding: 0.2rem;
}

#comments textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 51%;
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
}

.button-contact,
#email-link {
  width: 50%;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: none;
}

.button-contact:hover,
#email-link:hover {
  color: rgb(219, 87, 25);
  transition: 0.8s ease-out;
  background: none;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .contact-form {
    width: 95vw;
  }
}

/* CONTACT SECTION */
.contact {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(18, 134, 228); */
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  display: flex;
  /* position: fixed; */
  /* position: relative; */
  /* position: sticky; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.icons i {
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(219, 87, 25);
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  padding: 2rem;
}

i:hover {
  color: rgb(255, 255, 255);
}

/* .icon {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 1.5rem;
} */

@media (max-width: 800px) {
  .contact {
    height: auto;
  }

  .icons i {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}
