.hero {
  display: flex;
}

.main-left {
  flex-basis: 75%;
  text-align: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.main-right {
  flex-basis: 25%;
  text-align: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(64, 64, 71);
  position: relative;
  overflow: hidden;
}

.main-left::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  /* border: 2px solid white; */
  background-color: rgb(
    64,
    64,
    71
  ); /* Set your desired border style and color */
  transform: skewX(-25deg);
  transform-origin: bottom right;
  overflow: hidden;
}

.header-left {
  font-size: 3rem;
  color: rgb(0, 0, 0);
  margin-right: 15rem;
  text-align: center;
  margin-top: 2rem;
}

.header-right {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  margin-right: 15rem;
  text-align: center;
  margin-top: 2rem;
}

@media (max-width: 1100px) {
  .hero {
    flex-direction: column;
  }
  .main-left {
    width: 100%;
  }
  .main-right {
    width: 100%;
  }

  .main-left::before {
    display: none;
  }

  h1,
  .header-left,
  .header-right {
    margin-right: 0;
    padding-bottom: 2rem;
  }
}
