.data {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2rem;
}

.spinner {
  font-size: 8rem;
  text-align: center;
  margin-top: 10%;
  color: rgb(54, 158, 23);
}

.error {
  font-size: 8rem;
  text-align: center;
  margin-top: 10%;
  color: rgb(155, 8, 8);
}

.all-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items-header {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: rgb(255, 255, 255);
}

.items-list {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid white;
  background-color: rgb(219, 87, 25);
  color: rgb(219, 87, 25);
  font-size: 2rem;
  list-style: none;
  border-radius: 2rem;
}

.single-item {
  position: relative;
  border: 1px solid white;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  text-align: left;
  margin: 1rem;
  border-radius: 2rem;
}

.bold {
  color: rgb(255, 255, 255);
}

.delete-button {
  cursor: pointer;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 40%;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.delete-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(219, 87, 25);
  transition: 0.8s ease-out;
}

/* .edit-button {
  margin-top: 0.3rem;
  margin-left: 7rem;
  max-width: 50px;
  padding: 0.5rem;
}

.edit-form form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.new-item {
  font-size: 1.8rem;
  text-align: center;
}

.add-form form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: auto auto;
  font-size: 1.2rem;
}

input {
  font-size: 1rem;
  background-color: black;
  color: white;
} */
