.navigation {
  background-color: rgb(18, 24, 29);
  color: rgb(255, 255, 255);
  width: 100%;
  height: 6.5rem;
  display: flex;
  flex-wrap: wrap;
  /* position: fixed; */
  position: sticky;
  top: 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  /* position: relative; */
  z-index: 1;
}

.navigation-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navigation-logo {
  cursor: pointer;
  color: rgb(219, 87, 25);
  font-size: 2rem;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.navigation-logo::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(219, 87, 25);
  transition: width 0.6s ease-in-out;
}

.navigation-logo:hover::before {
  width: 100%;
}

.navigation-logo:hover {
  color: rgb(255, 255, 255);
  transition: 0.6s ease-in-out;
}

.nav ul {
  display: flex;
  margin-right: 1rem;
}

.nav-menu {
  display: block;
  list-style: none;
  text-decoration: none;
  padding: 0.5rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.nav-item {
  cursor: pointer;
  color: rgb(219, 87, 25);
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
}

.link {
  color: rgb(219, 87, 25);
  text-decoration: none;
}

.link:hover {
  color: rgb(255, 255, 255);
  transition: 0.6s ease-in-out;
}

.link:active {
  color: rgb(0, 0, 0);
  transition: none;
}

.nav-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(219, 87, 25);
  transition: width 0.6s ease-in-out;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
  transition: 0.6s ease-in-out;
}

.hamburger-menu {
  color: rgb(219, 87, 25);
  cursor: pointer;
  display: none;
  font-size: 2rem;
  position: absolute;
  top: 1.3rem;
  right: 0.5rem;
  flex-direction: column;
  width: 2.25rem;
  height: 2rem;
  z-index: 1;
}

.signed-in {
  font-size: 1rem;
  color: rgb(255, 255, 255);
}

@media (max-width: 850px) {
  .navigation {
    height: auto;
  }

  .nav {
    display: none;
    /* width: 100%; */
    right: 0;
    text-align: center;
    position: absolute;
    top: 4.5rem;
    background-color: rgb(18, 24, 29);
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 0.2rem 0.5rem;
    border: none;
  }

  .nav-item:hover {
    cursor: pointer;
    background-color: rgb(219, 87, 25);
    color: rgb(0, 0, 0);
    border-radius: 2%;
    border-top: none;
  }

  .hamburger-menu {
    display: flex;
    margin-right: 1rem;
    margin-bottom: 4rem;
  }

  .hamburger-menu:hover {
    color: rgb(219, 87, 25);
  }

  .nav.show-menu {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .navigation-logo {
    font-size: 1.7rem;
  }

  .hamburger-menu {
    font-size: 1.7rem;
    right: 0;
  }

  .nav {
    top: 4rem;
  }
}
